@import "tailwindcss";

:root {
  --background: #fffafa;
  --foreground: #2d1b1e;
  --accent: #d49a9a;
  --accent-light: #f4dada;
  --text-highlight: #b25d5d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a0f12;
    --foreground: #faeaea;
    --accent: #e2858e;
    --accent-light: #522b31;
    --text-highlight: #ffb3b3;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --font-heading: var(--font-heading);
  --font-text: var(--font-text);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* Important for Canvas to take over */
}

body {
  background: radial-gradient(circle at center, var(--accent-light) 0%, var(--background) 100%);
  color: var(--foreground);
  font-family: var(--font-text), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), cursive;
}

#root,
#__next {
  width: 100%;
  height: 100%;
}